<div th:text="'Welcome admin, ' + ${user.getName()} + '!'"></div>


<div th:each="class: ${classes}" th:text="${class.getName()}+'  (Teacher: '+${class.getTeacher().getName()}+')'"></div>
	
	
	
<form method="post" action="/admin/addClass">
	Class Name:
	<input type="text" name="className"/>
	Teacher:
	<select name="teacherId">
	   <option th:each="teacher: ${teachers}" th:value="${teacher.getId()}" th:text="${teacher.getName()}+'  (ID:'+${teacher.getId()}+')'">Volvo</option>
	</select>
	Student IDs (separated by line):
	<textarea name="studentIds"></textarea>
	<input type="submit" value="Add Class"/>
</form>